---
// src/pages/[...locale]/index.astro
import "@/styles/global.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import NavPhotoSection from "@/components/NavPhotoSection.astro";
import { defaultLang, locales } from "@/../i18n.config";
import { getI18nInfo } from "@/utils/i18n";

// Genera rutas estáticas: "/", "/en"
export function getStaticPaths() {
  return locales.map((lang) => {
    if (lang === defaultLang) {
      return { params: { locale: undefined } };
    }
    return { params: { locale: lang } };
  });
}
const { dictionary, langParam } = await getI18nInfo(Astro.params.locale);
const { indexPage } = dictionary; // Contenido específico de la página principal
---

<BaseLayout
  title={indexPage.title}
  lang={langParam}
  description={indexPage.description}
>
  <div class="flex min-h-screen w-full flex-col overflow-y-auto md:flex-row">
    {indexPage.sections.map((section) => <NavPhotoSection {...section} />)}
  </div>
</BaseLayout>
