---
// src/components/LangSwitcher.astro
import { getRelativeLocaleUrl } from "astro:i18n";

const currentPath = Astro.url.pathname;

// quitamos el prefijo de idioma si existe
const normalizedPath = currentPath.replace(/^\/(en|es)(\/|$)/, "/");

const otherLang = Astro.currentLocale === "es" ? "en" : "es";
const otherUrl = getRelativeLocaleUrl(otherLang, normalizedPath);
---

<a
  href={otherUrl}
  class="cursor-pointer flex items-center justify-center sm:text-sm md:text-base lg:text-lg z-9999"
>
  <div class="z-9998 transition-all duration-300 hover:scale-125">
    {otherLang.toUpperCase()}
  </div>
</a>
