---
import { Image } from "astro:assets";

interface NavPhotoProps {
  image: any;
  className?: string;
  altImage?: string;
}

const {
  image,
  className = "overflow-hidden",
  altImage = "Imagen de navegación",
} = Astro.props as NavPhotoProps;
---

<div class="flex h-full items-end justify-center">
  <Image
    src={image}
    alt={altImage}
    class={`h-auto max-h-[70%] w-auto object-bottom ${className} grayscale transition-all duration-500 ease-in-out group-hover:scale-110 group-hover:grayscale-0`}
    loading="eager"
  />
</div>
