---
interface ThemeButtonProps {
  className?: string;
}

const { className = "fixed top-3 right-3 cursor-pointer rounded p-2" } =
  Astro.props as ThemeButtonProps;
---

<button
  id="theme-toggle"
  class=`${className} transition duration-300 ease-in-out hover:scale-120 z-9999`
>
  <img
    id="theme-toggle-icon"
    src="theme/light.svg"
    alt="Icono de Tema"
    class="h-[2vw] max-h-6 min-h-5 transition-opacity duration-500 ease-in-out"
  />
</button>

<script lang="ts" is:inline>
  const THEME_ICONS = {
    light: "/theme/dark.svg",
    dark: "/theme/light.svg",
  };

  const toggleButton = document.getElementById("theme-toggle");
  const icon = document.getElementById("theme-toggle-icon");

  // Iniciar icono según estado actual del <html>
  const stored = localStorage.getItem("theme");
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  let currentTheme =
    stored ??
    (prefersDark
      ? "dark"
      : document.documentElement.classList.contains("dark")
        ? "dark"
        : "light");
  icon.src = THEME_ICONS[currentTheme];

  toggleButton.addEventListener("click", () => {
    icon.style.opacity = "0";

    currentTheme = currentTheme === "dark" ? "light" : "dark";
    document.documentElement.classList.toggle("dark", currentTheme === "dark");
    document.documentElement.setAttribute(
      "data-theme",
      currentTheme === "dark" ? "github-dark-default" : "github-light-default"
    );
    localStorage.setItem("theme", currentTheme);

    setTimeout(() => {
      icon.src = THEME_ICONS[currentTheme];
      icon.style.opacity = "1";
    }, 200);
  });
</script>
