---
import { Image } from "astro:assets";
import { darkIcon } from "@/constants/themeIcons";

interface ThemeButtonProps {
  className?: string;
}

const { className = "fixed top-3 right-3 cursor-pointer rounded p-2" } =
  Astro.props as ThemeButtonProps;
---

<button
  id="theme-toggle"
  class=`${className} transition duration-300 ease-in-out hover:scale-120 z-9999`
>
  <Image
    id="theme-toggle-icon"
    alt="Dark Icon"
    src={darkIcon}
    class="h-[2vw] max-h-6 min-h-5 w-auto transition-opacity duration-500 ease-in-out"
    loading="eager"
    fetchpriority="high"
    format="svg"
  />
</button>

<script>
  import { THEME_ICONS, getCurrentTheme, updateTheme } from "@/theme/theme"

  const toggleButton = document.getElementById("theme-toggle") as HTMLButtonElement;
  const icon = document.getElementById("theme-toggle-icon") as HTMLImageElement;

  icon.src = THEME_ICONS[getCurrentTheme()].src;

  toggleButton.addEventListener("click", () => {
    icon.style.opacity = "0";

    const currentTheme = getCurrentTheme() === "dark" ? "light" : "dark";
    updateTheme(currentTheme);

    setTimeout(() => {
      icon.src = THEME_ICONS[currentTheme].src;
      icon.alt = currentTheme + " theme icon"
      icon.style.opacity = "1";
    }, 200);
  });
</script>
