---
// src/pages/[lang]/index.astro
import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavPhotoSection from "../../components/NavPhotoSection.astro";
import { i18n, type Lang } from "../../constants/i18n";

// Definir qué idiomas existen
export async function getStaticPaths() {
  const langs = Object.keys(i18n); // ["es", "en"]
  return langs.map((lang) => ({ params: { lang } }));
}

// Esto se ejecuta para cada página generada
const langParam = Astro.params.lang as Lang;
const lang: Lang = i18n[langParam] ? langParam : "es"; // fallback
const { sections, description } = i18n[lang];
---

<BaseLayout
  title={lang === "es" ? "Inicio" : "Home"}
  lang={lang}
  description={description}
>
  <div class="flex min-h-screen w-full flex-col overflow-y-auto md:flex-row">
    {sections.map((section) => <NavPhotoSection {...section} />)}
  </div>
</BaseLayout>