---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import { defaultLang } from "../../i18n.config";
import { homeLightIcon } from "@/constants/themeIcons";

interface PageLayoutProps {
  title: string;
}

const { title } = Astro.props as PageLayoutProps;

const currentLang = Astro.currentLocale ? Astro.currentLocale : defaultLang;
const homeUrl = getRelativeLocaleUrl(currentLang, "/");
---

<a href={homeUrl}>
  <Image
    id="nav-home-icon"
    src={homeLightIcon}
    alt="Home Icon"
    class="fixed top-3 left-5 h-[3vw] max-h-10 min-h-5 w-auto hover:scale-120 z-9999 transition duration-300 ease-in-out"
    loading="eager"
    fetchpriority="high"
    format="svg"
  />
</a>

<main class="mx-auto max-w-3xl px-6 py-12 ">

  <slot />
</main>

<!-- <script src="/js/theme.js" defer></script> -->
<script>
  import { type Theme, HOME_ICONS, getCurrentTheme } from "@/theme/theme"

  const homeIcon = document.getElementById("nav-home-icon") as HTMLImageElement;
  homeIcon.src = HOME_ICONS[getCurrentTheme()].src;
  // Escuchar cambios
  window.addEventListener("themechange", (e: any) => {
    homeIcon.style.opacity = "0";
    const theme: Theme  = e.detail;

    setTimeout(() => {
      homeIcon.src = HOME_ICONS[theme].src;
      homeIcon.alt = theme + " home icon";
      homeIcon.style.opacity = "1";
    }, 200);
  });
</script>
